/* GENERAL */
.no-padding{
  padding: 0px;
}

.no-margin{
  margin: 0px;
}

.little-padding{
  padding:5px;
}

body{
  background-color:white;
}
/* NAVBAR */
.nav-item:hover{
  background-color: #CECFCE;
  opacity: 0.4;
}

.introduction{
  text-align: center;
  padding-top : 2%;
  padding-bottom : 3%;
}
